<footer>
        <div>
            <h2>.ARTIM</h2>
            <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious.</p>
        </div>
        <div>
            <h1>LATEST POST</h1>
            <ul>
                <li>
                    <a href="http://newthemes.net/artim/sectors/construction/dissuade-ecstatic/">Dissuade Ecstatic</a>
                </li>
                <hr>
                <li>
                    <a href="http://newthemes.net/artim/sectors/construction/properly-saw/">Properly Saw</a>
                </li>
                <hr>
                <li>
                    <a href="http://newthemes.net/artim/sectors/construction/laughter-endeavor/">Laughter Endeavor</a>
                </li>
                <hr>
                <li>
                    <a href="http://newthemes.net/artim/sectors/construction/vanity-excuse/">Vanity Excuse</a>
                </li>
                <hr>
                <li>
                    <a href="http://newthemes.net/artim/sectors/construction/sufficient-understood/">Sufficient Understood</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>BUSINESS HOURS</h1>
            <p>Our support Hotline is available 24
            <br>
            Monday-Friday: 9am to 5pm
            <br>
            Saturday: 10am to 2pm
            <br>Sunday: Closed
            </p>
        </div>
        <div>
            <h1>PORTFOLIO</h1>
            <img src="assets/images/3.jpg">
            <img src="assets/images/2.jpg">
            <img src="assets/images/1.jpg">
            <img src="assets/images/4.jpg">
            <img src="assets/images/5.jpg">
            <img src="assets/images/6.jpg">
            <img src="assets/images/7.jpg">
            <img src="assets/images/8.jpg">
            <img src="assets/images/9.jpg">
        </div>
    <menu>
        <ul>
            <li><a href="http://newthemes.net/artim/sectors/construction/">Homepage</a></li>
            
            <li><a href="http://newthemes.net/artim/sectors/construction/about-us/">About Us</a></li>
            <li><a href="http://newthemes.net/artim/sectors/construction/projects/">Projects</a></li>
            <li><a href="http://newthemes.net/artim/sectors/construction/services/">Services</a></li>
            <li><a href="http://newthemes.net/artim/sectors/construction/blog/">Blog</a></li>
            <li><a href="http://newthemes.net/artim/sectors/construction/contact/">Contact</a></li>
        </ul>
    </menu>
</footer>
