 <menu>
    <ul>
        <li><a href="http://newthemes.net/artim/sectors/construction/">Homepage</a></li>
        
        <li><a href="http://newthemes.net/artim/sectors/construction/about-us/">About Us</a></li>
        <li><a href="http://newthemes.net/artim/sectors/construction/projects/">Projects</a></li>
        <li><a href="http://newthemes.net/artim/sectors/construction/services/">Services</a></li>
        <li><a href="http://newthemes.net/artim/sectors/construction/blog/">Blog</a></li>
        <li><a href="http://newthemes.net/artim/sectors/construction/contact/">Contact</a></li>
    </ul>
</menu>
