<div class="page2">
    <div style="float: left; width: 25%; height: 0; margin-top: 200px; color: white; font-size: 60px;">26,412</div>
    <div style="float: left; width: 25%; height: 0; color: white; margin-top: 200px; font-size: 60px;">15,362</div>
    <div style="float: left; width: 25%; color: white; margin-top: 200PX; font-size: 60px;">21,568</div>
    <div style="float: right; width: 25%; color: white; margin-top: 200px; font-size: 60px;">26,854</div>
    
    <div style="float: left; width: 25%; height: 0; margin-top: 20px; color: white;">PAGE VIEWS</div>
    <div style="float: left; width: 25%; height: 0; color: white; margin-top: 20px">COFFEE CONSUMED</div>
    <div style="float: left; width: 25%; color: white; margin-top: 20px;">PROJECT FINISHED</div>
    <div style="float: right; width: 25%; color: white; margin-top: 20px;">PIZZA'S EATEN</div>
</div>
